# Nuxt dev/build outputs
.nuxt
.output
.data
.nitro
.cache
dist
.vercel

# Node dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# OS specific
.DS_Store
.history
.idea
.vscode
*.swp
*.swo
